@use '../../styles/variables' as *;

.timeline {
  position: relative;
  padding-left: 1.5rem;

  &::before {
    content: '';
    position: absolute;
    left: 0.4375rem;
    top: 0.5rem;
    bottom: 0.5rem;
    width: 2px;
    background: $border;
  }
}

.item {
  position: relative;
  padding-bottom: 1.25rem;

  &:last-child { padding-bottom: 0; }
}

.dot {
  position: absolute;
  left: -1.5rem;
  top: 0.375rem;
  width: 0.625rem;
  height: 0.625rem;
  background: $primary;
  border-radius: 50%;
  border: 2px solid $bg-card;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.status {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.arrow {
  color: $text-light;
  font-size: 0.8125rem;
}

.note {
  font-size: 0.8125rem;
  color: $text-light;
}

.time {
  font-size: 0.75rem;
  color: $text-light;
}

.empty {
  color: $text-light;
  font-size: 0.875rem;
}
