@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.card {
  @include card;
  padding: 1.25rem;
}

.label {
  font-size: 0.8125rem;
  color: $text-light;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.value {
  font-size: 1.75rem;
  font-weight: 700;
  color: $text;
}
