@use '../styles/variables' as *;

.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  margin-bottom: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  min-height: calc(100vh - 200px);

  @media (max-width: $bp-xl) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $bp-sm) {
    grid-template-columns: 1fr;
  }
}
