@use '../styles/variables' as *;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 50vh;
  text-align: center;

  h1 {
    font-size: 4rem;
    color: $text-light;
  }

  p {
    color: $text-light;
    font-size: 1.125rem;
  }
}
